@import "https://fonts.googleapis.com/css?family=Roboto";
body {
  background: #ffffff; }

/**Estilos globales***/
.title {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .title h4 {
    position: absolute;
    top: -50%;
    padding: 5px 10px;
    max-width: 480px;
    min-width: 320px;
    background-color: #272727;
    text-align: center;
    text-transform: uppercase; }
    .title h4 span {
      padding: 5px;
      color: #fff; }

#redesTop:after, #redesTop:before {
  content: '';
  display: block;
  clear: both; }
#redesTop article ul {
  list-style: none;
  margin-left: 0px;
  margin-bottom: 0px; }
  #redesTop article ul li {
    list-style: none;
    display: inline-block;
    background-color: #272721;
    padding: 10px; }
    #redesTop article ul li a {
      color: #fff; }
    #redesTop article ul li:nth-child(n+4) {
      color: #272727;
      background-color: transparent; }
      #redesTop article ul li:nth-child(n+4) a {
        color: #272727;
        font-size: 0.9rem; }

header#header:after, header#header:before {
  content: '';
  display: block;
  clear: both; }
header#header .thumbPage {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727; }
  header#header .thumbPage img {
    max-width: 100px;
    width: auto; }

#slideClocks {
  padding-top: 20px;
  padding-bottom: 70px; }
  #slideClocks .swiper-container {
    height: 350px; }

#novedades {
  border-top: 3px solid #272727; }
  #novedades:before, #novedades:after {
    content: '';
    display: block;
    clear: both; }
  @media screen and (min-width: 768px) {
    #novedades .novedadesCont1 {
      position: relative;
      height: 500px;
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      box-shadow: 0px 3px 2px rgba(100, 100, 100, 0.5); }
      #novedades .novedadesCont1:after, #novedades .novedadesCont1:before {
        content: '';
        display: block;
        clear: both; }
      #novedades .novedadesCont1 .cardNew {
        background-color: rgba(50, 50, 50, 0.9); }
        #novedades .novedadesCont1 .cardNew .cardHeader {
          position: relative; }
          #novedades .novedadesCont1 .cardNew .cardHeader .cardThumb {
            overflow: hidden; }
            #novedades .novedadesCont1 .cardNew .cardHeader .cardThumb p {
              margin-bottom: 0rem; }
            #novedades .novedadesCont1 .cardNew .cardHeader .cardThumb img {
              width: 100%;
              transform: scale(1, 1);
              opacity: 0.5;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
              transition-delay: 0.2s; }
        #novedades .novedadesCont1 .cardNew .cardBody {
          position: absolute;
          bottom: 10px;
          background-color: #f1f1f1; }
          #novedades .novedadesCont1 .cardNew .cardBody:after, #novedades .novedadesCont1 .cardNew .cardBody:before {
            content: '';
            display: block;
            clear: both; }
          #novedades .novedadesCont1 .cardNew .cardBody .cardTitleBody {
            padding: 0px 15px;
            height: 80px;
            display: flex;
            align-items: left;
            justify-content: center;
            flex-direction: column;
            line-height: 1; }
            #novedades .novedadesCont1 .cardNew .cardBody .cardTitleBody h5 {
              font-family: 'Roboto' , sans-serif;
              margin-bottom: 0px;
              font-style: italic;
              font-weight: 700;
              color: #83191d; }
            #novedades .novedadesCont1 .cardNew .cardBody .cardTitleBody p {
              color: #272727;
              margin-bottom: 0px;
              font-weight: 100;
              font-family: 'Roboto' , sans-serif; }
          #novedades .novedadesCont1 .cardNew .cardBody .cardTxt {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: justify; }
            #novedades .novedadesCont1 .cardNew .cardBody .cardTxt p {
              line-height: 1.1; }
      #novedades .novedadesCont1:hover .cardNew .cardHeader .cardThumb img {
        transform: scale(1.1, 1.1);
        opacity: 1; }
    #novedades .novedadesCont2 {
      position: relative; }
      #novedades .novedadesCont2 .cardNew {
        position: relative;
        height: 250px;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        background-color: rgba(50, 50, 50, 0.88);
        box-shadow: 0px 3px 2px rgba(100, 100, 100, 0.5); }
        #novedades .novedadesCont2 .cardNew .cardHeader {
          position: relative; }
          #novedades .novedadesCont2 .cardNew .cardHeader .cardThumb {
            overflow: hidden; }
            #novedades .novedadesCont2 .cardNew .cardHeader .cardThumb img {
              width: auto;
              height: 250px;
              transform: scale(1, 1);
              opacity: 0.88;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              transition-delay: 0.4s; }
        #novedades .novedadesCont2 .cardNew .cardBody {
          position: absolute;
          bottom: 10px;
          background-color: #f1f1f1;
          padding-left: .9375rem;
          padding-right: .9375rem; }
          #novedades .novedadesCont2 .cardNew .cardBody:after, #novedades .novedadesCont2 .cardNew .cardBody:before {
            content: '';
            display: block;
            clear: both; }
          #novedades .novedadesCont2 .cardNew .cardBody .cardTitleBody {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column; }
            #novedades .novedadesCont2 .cardNew .cardBody .cardTitleBody h5 {
              font-family: 'Roboto' , sans-serif;
              margin-bottom: 0px;
              font-style: italic;
              font-weight: 700;
              color: #83191d; }
            #novedades .novedadesCont2 .cardNew .cardBody .cardTitleBody p {
              font-size: 0.8rem;
              color: #272727;
              margin-bottom: 0px;
              font-weight: 100;
              font-family: 'Roboto' , sans-serif; }
        #novedades .novedadesCont2 .cardNew:hover .cardHeader .cardThumb img {
          transform: scale(1.3, 1.3);
          opacity: 1; } }

#proDestacados {
  padding-top: 80px;
  padding-bottom: 80px; }
  #proDestacados:after, #proDestacados:before {
    content: "";
    display: block;
    clear: both; }
  #proDestacados .cardDest {
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    #proDestacados .cardDest {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      min-width: 320px;
      height: 300px;
      background-color: grey;
      overflow: hidden; }
      #proDestacados .cardDest .cardDestHeader {
        position: relative;
        height: 0;
        padding-bottom: 100%; }
        #proDestacados .cardDest .cardDestHeader .cardDestThumb {
          position: relative;
          height: 300px; }
          #proDestacados .cardDest .cardDestHeader .cardDestThumb p {
            margin-bottom: 0px; }
          #proDestacados .cardDest .cardDestHeader .cardDestThumb img {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            z-index: 0;
            transform: scale(1.3, 1.3);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            transition-delay: 0.4s; }
      #proDestacados .cardDest .cardDestBody {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(131, 25, 29, 0.1);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        transition-delay: 0.4s;
        padding: 20px;
        overflow: hidden; }
        #proDestacados .cardDest .cardDestBody h3 {
          color: #fff;
          font-weight: 700;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          text-align: center; }
        #proDestacados .cardDest .cardDestBody p:nth-child(2) {
          font-size: 0.9rem;
          text-align: justify; }
        #proDestacados .cardDest .cardDestBody p:nth-child(2),
        #proDestacados .cardDest .cardDestBody p:nth-child(3) {
          margin-bottom: 0px;
          color: #ffffff;
          transform: translateX(-150%);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          transition-delay: 0.4s; }
        #proDestacados .cardDest .cardDestBody p:nth-child(4),
        #proDestacados .cardDest .cardDestBody p:nth-child(5) {
          margin-bottom: 0px;
          color: #ffffff;
          text-align: center;
          transform: translateX(150%);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          transition-delay: 0.4s; }
        #proDestacados .cardDest .cardDestBody .cardDestTxt a {
          margin-top: 5px;
          padding: 5px 10px;
          color: #eeeeee;
          border: 1px solid #eeeeee;
          text-transform: uppercase; }
      #proDestacados .cardDest:hover .cardDestHeader .cardDestThumb img {
        transform: scale(1, 1); }
      #proDestacados .cardDest:hover .cardDestBody {
        background-color: rgba(131, 25, 29, 0.9); }
        #proDestacados .cardDest:hover .cardDestBody p {
          transform: translateX(0); } }

#aboutMe {
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #272727; }
  #aboutMe:after, #aboutMe:before {
    content: '';
    display: block;
    clear: both; }
  #aboutMe .cardAboutMe .cardAboutHeader {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #aboutMe .cardAboutMe .cardAboutHeader .cardAboutThumb {
      padding: 5px;
      text-align: center; }
      #aboutMe .cardAboutMe .cardAboutHeader .cardAboutThumb img {
        display: inline-block;
        max-width: 120px;
        width: 50%;
        height: auto;
        text-align: center; }
    #aboutMe .cardAboutMe .cardAboutHeader .cardAboutTxt {
      padding-top: 10px; }
      #aboutMe .cardAboutMe .cardAboutHeader .cardAboutTxt p {
        font-size: 1rem;
        color: #ffffff;
        text-align: justify; }
  #aboutMe .cardAboutMe .cardAboutBody .line {
    display: block;
    height: 3px;
    background-color: red; }
  #aboutMe .cardAboutMe .cardAboutBody ul {
    margin-bottom: 0px;
    margin-left: 0px;
    list-style: none; }
    #aboutMe .cardAboutMe .cardAboutBody ul li {
      text-align: center;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #aboutMe .cardAboutMe .cardAboutBody ul li a {
        font-size: 2rem;
        text-align: center;
        color: #ba3f43; }

#blog {
  padding-top: 70px;
  padding-bottom: 70px; }
  #blog:before, #blog:after {
    content: '';
    display: block;
    clear: both; }
  #blog .cardBlogPrincipal .cardBlogCont {
    position: relative;
    background-color: pink; }
    #blog .cardBlogPrincipal .cardBlogCont:before, #blog .cardBlogPrincipal .cardBlogCont:after {
      content: '';
      display: block;
      clear: both; }
    #blog .cardBlogPrincipal .cardBlogCont .cardBLogHeader {
      max-height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; }
      #blog .cardBlogPrincipal .cardBlogCont .cardBLogHeader .timeBlog {
        position: absolute;
        padding: 8px;
        top: 0;
        right: 0;
        font-family: 'Roboto' , sans-serif;
        font-weight: 700;
        background-color: #f1f1f1; }
      #blog .cardBlogPrincipal .cardBlogCont .cardBLogHeader .cardBlogThumb img {
        width: 100%; }
    #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody {
      padding-bottom: 15px;
      padding-top: 15px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      justify-content: space-around; }
      #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody:after, #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody:before {
        content: '';
        display: block;
        clear: both; }
      #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogTitle {
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogTitle h4 {
          text-align: center;
          font-weight: 700;
          margin: 0px; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogTitle p {
          text-align: center; }
      #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogTxt {
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 300;
        text-align: center; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogTxt p {
          margin: 0px;
          font-style: italic;
          line-height: 1.3;
          text-align: center; }
      #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter {
        position: relative;
        text-align: center; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter:after, #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter:before {
          content: '';
          display: block;
          clear: both; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p {
          margin: 0px;
          line-height: 1.3; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.enlaceBlog {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center; }
          #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.enlaceBlog:after, #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.enlaceBlog:before {
            content: '';
            display: block;
            clear: both; }
          #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.enlaceBlog a {
            display: inline-block;
            padding: 7px;
            color: #272727;
            border: 2px solid #272727;
            text-align: center;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            transition-delay: 0.5s; }
            #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.enlaceBlog a:hover {
              background-color: #272727;
              color: #eeeeee; }
        #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.postmetadata {
          padding-top: 10px;
          padding-bottom: 0px;
          border-top: 1px solid #272727;
          font-size: 0.8rem;
          text-align: left;
          font-weight: 300; }
          #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.postmetadata:after, #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.postmetadata:before {
            content: '';
            display: block;
            clear: both; }
          #blog .cardBlogPrincipal .cardBlogCont .cardBlogBody .cardBlogFooter p.postmetadata a {
            font-style: italic;
            color: #83191d; }
  #blog .cardBlogSecundario .cardBlogCont:after, #blog .cardBlogSecundario .cardBlogCont:before {
    content: '';
    display: block;
    clear: both; }
  #blog .cardBlogSecundario .cardBlogCont .cardBlogBody {
    background-color: #f5fff5;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333; }
    #blog .cardBlogSecundario .cardBlogCont .cardBlogBody:after, #blog .cardBlogSecundario .cardBlogCont .cardBlogBody:before {
      content: '';
      display: block;
      clear: both; }
    #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTitle {
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-right: 1px solid #c4c3c3; }
      #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTitle h4 {
        text-align: center;
        font-weight: 700;
        margin: 0px; }
      #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTitle p {
        text-align: center; }
        #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTitle p.dateBlog002 {
          font-size: 0.9rem; }
        #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTitle p a {
          display: inline-block;
          color: #e7787e;
          padding: 5px;
          border: 2px solid #e7787e;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -ms-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          transition-delay: 0.5s; }
          #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTitle p a:hover {
            background-color: #e7787e;
            color: #f1f1f1; }
    #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTxt {
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTxt h4 {
        font-weight: 700; }
      #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTxt p {
        margin: 0px;
        line-height: 1.3; }
        #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTxt p:nth-child(2n+1) {
          font-size: 0.9rem;
          text-align: center; }
          #blog .cardBlogSecundario .cardBlogCont .cardBlogBody .cardBlogTxt p:nth-child(2n+1) a {
            font-size: 0.8rem;
            font-style: italic;
            color: #e7787e; }

footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px; }
  footer:after, footer:before {
    content: '';
    display: block;
    clear: both; }
  footer .paySection {
    position: relative;
    border-top: 3px solid #272727; }
    footer .paySection .cardHowPay:after, footer .paySection .cardHowPay:before {
      content: '';
      display: block;
      clear: both; }
    footer .paySection .cardHowPay .cardHeadHowPay h3,
    footer .paySection .cardHowPay .cardHeadHowPay h4 {
      margin-bottom: 0px; }
    footer .paySection .cardHowPay .cardHeadHowPay p {
      line-height: 3;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0px; }
    footer .paySection .cardHowPay .cardBodyHowPay h3,
    footer .paySection .cardHowPay .cardBodyHowPay h4 {
      margin-bottom: 0px; }
    footer .paySection .cardHowPay .cardBodyHowPay p {
      margin-bottom: 0px; }
  footer .contactSection {
    position: relative;
    border-top: 3px solid #272727; }
    footer .contactSection .cardContactS .logoDown {
      text-align: center; }
      footer .contactSection .cardContactS .logoDown img {
        width: 100px; }
    footer .contactSection .cardContactS p, footer .contactSection .cardContactS h4 {
      text-align: center;
      margin-bottom: 0px; }
      footer .contactSection .cardContactS p a, footer .contactSection .cardContactS h4 a {
        color: #272727; }
  footer .newSection {
    position: relative;
    border-top: 3px solid #272727; }
    footer .newSection #formDown .contInput input,
    footer .newSection #formDown .contInput textarea {
      border: 0px;
      border-bottom: 1px solid #EEEEEE;
      box-shadow: 0px 0px 0px; }
      footer .newSection #formDown .contInput input:focus,
      footer .newSection #formDown .contInput textarea:focus {
        border-bottom: 2px solid #272727; }
    footer .newSection #formDown .contInput button {
      display: block;
      padding: 10px 5px;
      width: 100%;
      border: 2px solid #272727;
      text-align: center;
      background-color: transparent;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      transition-delay: 0.4s; }
      footer .newSection #formDown .contInput button:hover {
        background-color: #272727;
        color: #ffffff; }
  footer .copyRigth {
    padding-top: 40px; }
    footer .copyRigth:after, footer .copyRigth:before {
      content: '';
      display: block;
      clear: both; }
    footer .copyRigth p {
      text-align: center;
      color: #999; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 20px !important;
  left: 10px !important;
  width: auto !important; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: pink !important; }

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  display: block !important;
  border-radius: 100%; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px 0 !important; }

/*# sourceMappingURL=app.css.map */
