body{
	background: #ffffff;
}
/**Estilos globales***/
.title{
	position: relative;
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
	 h4{
	 	position: absolute;
	 	top: -50%;
	 	padding: 5px 10px;
	 	max-width: 480px;
	 	min-width: 320px;
		background-color: #272727;
	 	text-align: center;
	 	text-transform: uppercase;
	 	span{
	 		padding: 5px;
	 		color: #fff;
	 		
	 	}
	 }
}
