#slideClocks{
	padding-top: 20px;
	padding-bottom: 70px;
	.swiper-container{
		height: 350px;
	}
}
#novedades{
	border-top: 3px solid #272727;
	&:before,
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	// .novedadesCont1{
	// 	position: relative;
	// 	height: 500px;
	// 	overflow: hidden;
	// 	padding-left: 0;
	// 	padding-right: 0;
	// 	box-shadow: 0px 3px 3px rgba(100,100,100,0.5);
	// 	&:after,
	// 	&:before{
	// 		content: '';
	// 		display: block;
	// 		clear: both;
	// 	}
	// 	.cardNew{
	// 		.cardHeader{
	// 			.cardThumb{
	// 				img{
	// 					width: 100%;
	// 				}
	// 			}
	// 		}
	// 		.cardBody{
	// 			position: absolute;
	// 			bottom: 0;
	// 			background-color: #f1f1f1;
	// 			padding-left: .9375rem;
	// 			padding-right: .9375rem;
	// 			&:after,
	// 			&:before{
	// 				content: '';
	// 				display: block;
	// 				clear: both;
	// 			}
	// 			.cardTitleBody{
	// 				height: 50px;
	// 			}
	// 			.cardTxt{
	// 				height: 100px;
	// 			}
	// 		}
	// 	}
	// }
	@media screen and(min-width: 768px){
		.novedadesCont1{
			position: relative;
			height: 500px;
			overflow: hidden;
			padding-left: 0;
			padding-right: 0;
			box-shadow: 0px 3px 2px rgba(100,100,100,0.5);
			&:after,
			&:before{
				content: '';
				display: block;
				clear: both;
			}
			.cardNew{
				background-color: rgba(50,50,50,0.9);
				.cardHeader{
					position: relative;
					.cardThumb{
						overflow: hidden;
						p{
							margin-bottom: 0rem;
						}
						img{
							width: 100%;
							transform:scale(1,1);
							opacity: 0.5;
							@include transition(all, 0.3s,ease,0.2s);
						}
					}
				}
				.cardBody{
					position: absolute;
					bottom: 10px;
					background-color: #f1f1f1;
					// @include transition(all, 0.3s,ease-out,0.2s);
					&:after,
					&:before{
						content: '';
						display: block;
						clear: both;
					}
					.cardTitleBody{
						padding: 0px 15px;
						height: 80px;
						// outline: 1px solid red;
						display: flex;
						align-items:left;
						justify-content:center;
						flex-direction:column;
						line-height: 1;
						h5{
							font-family: 'Roboto' , sans-serif;
							margin-bottom: 0px;
							font-style: italic;
							font-weight: 700;
							color:#83191d;
						}
						p{
							color: #272727;
							margin-bottom: 0px;
							font-weight: 100;
							font-family: 'Roboto' , sans-serif;
						}
					}
					.cardTxt{
						height: 100px;
						// outline: 1px solid red;
						display: flex;
						align-items:center;
						justify-content:center;
						text-align: justify;
						p{
							line-height: 1.1;
						}
					}
				}
			}
			&:hover{
				.cardNew{
					.cardHeader{
						.cardThumb{
							img{
								transform:scale(1.1,1.1);
								opacity: 1;
							}
						}
					}
				}
				
			}
		}
		.novedadesCont2{
			position: relative;
			.cardNew{
				position: relative;
				height: 250px;
				overflow: hidden;
				padding-left: 0;
				padding-right: 0;
				background-color: rgba(50,50,50,0.88);
				box-shadow: 0px 3px 2px rgba(100,100,100,0.5);
				.cardHeader{
					position: relative;
					.cardThumb{
						overflow: hidden;
						img{
							width: auto;
							height: 250px;
							transform:scale(1,1);
							opacity: 0.88;
							@include transition(all , 0.5s, ease,0.4s);
						}
					}
				}
				.cardBody{
					position: absolute;
					bottom: 10px;
					background-color: #f1f1f1;
					padding-left: .9375rem;
					padding-right: .9375rem;
					&:after,
					&:before{
						content: '';
						display: block;
						clear: both;
					}
					.cardTitleBody{
						height: 50px;
						// outline: 1px solid red;
						display: flex;
						align-items:center;
						justify-content:flex-start;
						flex-direction:column;
						h5{
							font-family: 'Roboto' , sans-serif;
							margin-bottom: 0px;
							font-style: italic;
							font-weight: 700;
							color:#83191d;
						}
						p{
							font-size: 0.8rem;
							color: #272727;
							margin-bottom: 0px;
							font-weight: 100;
							font-family: 'Roboto' , sans-serif;
						}
					}
				}
				&:hover{
					.cardHeader{
						.cardThumb{
							img{
								transform:scale(1.3,1.3);
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
#proDestacados{
	padding-top:80px;
	padding-bottom: 80px;
	&:after,
	&:before{
		content: "";
		display: block;
		clear: both;
	}
	.cardDest{
		cursor: pointer;
		// position: relative;
		// padding-left: 0;
		// padding-right: 0;
		// min-width: 320px;
		// height: 400px;
		// background-color: grey;
		// overflow: hidden;
	}
	@media screen and(min-width: 768px){
		.cardDest{
			position: relative;
			padding-left: 0;
			padding-right: 0;
			min-width: 320px;
			height: 300px;
			background-color: grey;
			overflow: hidden;
			.cardDestHeader{
				position: relative;
				height: 0;
				padding-bottom: 100%;
				.cardDestThumb{
					p{
						margin-bottom: 0px;
					}
					position: relative;
					height: 300px;
					img{
						position: absolute;
						top: 0;
						left: 0;
						width: auto;
						height:100%;
						z-index: 0;
						transform:scale(1.3,1.3);
						@include transition(all, 0.5s,ease-out, 0.4s);
					}
				}
			}
			.cardDestBody{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 300px;
				display: flex;
				align-items:center;
				justify-content:center;
				background-color: rgba(131,25,29,0.1);
				@include transition(all, 0.5s,ease, 0.4s);
				padding: 20px;
				overflow: hidden;
				h3{
					color: #fff;
					font-weight: 700;
					text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
					text-align: center;
				}
				p:nth-child(2){
					font-size: 0.9rem;
					text-align: justify;
				}
				p:nth-child(2),
				p:nth-child(3){
					margin-bottom: 0px;
					color: #ffffff;
					transform:translateX(-150%);
					@include transition(all, 0.5s,ease, 0.4s);
				}
				p:nth-child(4),
				p:nth-child(5){
					margin-bottom: 0px;
					color: #ffffff;
					text-align: center;
					transform:translateX(150%);
					@include transition(all, 0.5s, ease, 0.4s);
				}
				.cardDestTxt{
					a{
						margin-top: 5px;
						padding: 5px 10px;
						color:#eeeeee;
						border:1px solid #eeeeee;
						text-transform: uppercase;
					}
				}
			}
			&:hover{
				.cardDestHeader{
					.cardDestThumb{
						img{
							transform:scale(1,1);
						}
					}
				}
				.cardDestBody{
					background-color: rgba(131,25,29,0.9);
					p{
						transform:translateX(0);
					}
				}
			}
		}
	}
}
#aboutMe{
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: rgba(39,39,39,1);
	&:after,
	&:before{
		content:'';
		display: block;
		clear: both;
	}
	.cardAboutMe{
		.cardAboutHeader{
			height: 100px;
			display: flex;
			align-items:center;
			justify-content:center;
			.cardAboutThumb{
				padding: 5px;
				text-align: center;
				// margin: auto;
				// width: 100px;
				// height: 100px;
				// display: flex;
				// align-items:center;
				// justify-content:center;
				img{
					display: inline-block;
					max-width: 120px;
					width: 50%;
					height: auto;
					text-align: center;
				}
			}
			.cardAboutTxt{
				padding-top: 10px;
				p{
					font-size: 1rem;
					color:#ffffff;
					text-align: justify;
				}
			}
		}
		.cardAboutBody{
			.line{
				display: block;
				height: 3px;
				background-color: red;
			}
			ul{
				margin-bottom: 0px;
				margin-left: 0px;
				list-style: none;
				li{
					text-align: center;
					height: 100px;
					display: flex;
					align-items:center;
					justify-content:center;
					a{
						font-size: 2rem;
						text-align: center;
						color: #ba3f43;
					}
				}
			}
		}
		
	}
}
#blog{
	&:before,
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	padding-top: 70px;
	padding-bottom: 70px;
	.cardBlogPrincipal{	
		.cardBlogCont{
			position: relative;
			&:before,
			&:after{
				content: '';
				display: block;
				clear: both;
			}
			background-color: pink;
			.cardBLogHeader{
				max-height: 350px;
				display: flex;
				align-items:center;
				justify-content:center;
				overflow: hidden;
				.timeBlog{
					position: absolute;
					padding: 8px;
					top: 0;
					right: 0;
					font-family: 'Roboto' , sans-serif;
					font-weight: 700;
					background-color: #f1f1f1;
				}
				.cardBlogThumb{
					img{
						width: 100%;
					}
				}
			}
			.cardBlogBody{
				// transform:translateY(80px);
				padding-bottom: 15px;
				padding-top: 15px;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;

				-webkit-flex-flow: column;
				justify-content: space-around;
				&:after,
				&:before{
					content: '';
					display: block;
					clear: both;
				}
				.cardBlogTitle{
					padding-bottom: 10px;
					font-weight: bold;
					text-align: center;
					h4{
						text-align: center;
						font-weight: 700;
						margin: 0px;
					}
					p{
						text-align: center;
					}
				}
				.cardBlogTxt{
					position: relative;
					padding-top:5px;
					padding-bottom: 5px; 
					font-weight: 300;
					text-align: center;
					p{
						margin: 0px;
						font-style: italic;
						line-height: 1.3;
						text-align: center;
					}
				}
				.cardBlogFooter{
					position: relative;
					text-align: center;
					&:after,
					&:before{
						content: '';
						display: block;
						clear: both;
					}
					p{
						margin: 0px;
						line-height: 1.3;
					}
					p.enlaceBlog{
						margin-top: 10px;
						margin-bottom: 10px;
						text-align: center;
						&:after,
						&:before{
							content: '';
							display: block;
							clear: both;
						}
						a{
							display: inline-block;
							padding: 7px;
							color:#272727;
							border:2px solid #272727;
							text-align: center;
							@include transition(all,0.3s,ease-in,0.5s);
							&:hover{
								background-color: #272727;
								color: #eeeeee;
							}
						}
					}
					p.postmetadata{
						padding-top: 10px;
						padding-bottom: 0px;
						border-top: 1px solid #272727;
						font-size: 0.8rem;
						text-align: left;
						font-weight: 300;
						&:after,
						&:before{
							content: '';
							display: block;
							clear: both;
						}
						a{
							font-style: italic;
							color: #83191d;
						}
					}
				}
			}
		}
	}
	.cardBlogSecundario{
		.cardBlogCont{
			&:after,
			&:before{
				content: '';
				display: block;
				clear: both;
			}
			.cardBlogBody{
				background-color: rgb(245, 345, 245);
				// box-shadow: 0px 2px 0px rgba(107, 107, 107, 0.5);
				border-top: 1px solid rgb(51, 51, 51);
				border-bottom: 1px solid rgb(51, 51, 51);
				&:after,
				&:before{
					content: '';
					display: block;
					clear: both;
				}
				.cardBlogTitle{
					height: 150px;
					display: flex;
					flex-direction:column;
					align-items:center;
					justify-content: space-around;
					border-right: 1px solid rgb(196, 195, 195);
					h4{
						text-align: center;
						font-weight: 700;
						margin: 0px;
					}
					p{
						text-align: center;
						&.dateBlog002{
							font-size: 0.9rem;
						}
						a{
							display: inline-block;
							color:#e7787e;
							padding: 5px;
							border:2px solid #e7787e;
							@include transition(all,0.3s,ease-in,0.5s);
							&:hover{
								background-color: #e7787e;
								color: #f1f1f1;
							}
						}
					}
				}
				.cardBlogTxt{
					height: 150px;
					display: flex;
					flex-direction:column;
					align-items:center;
					justify-content:space-around;
					h4{
						font-weight: 700;
					}
					p{
						margin: 0px;
						line-height: 1.3;
						&:nth-child(2n+1){
							font-size: 0.9rem;
							text-align: center;
							a{
								font-size: 0.8rem;
								font-style: italic;
								color: #e7787e;
							}
						}
					}
				}
			}
			
		}
	}
}