.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 20px !important;
	left: 10px !important;
	width: auto !important;
}
.swiper-pagination-bullet-active{
	opacity: 1;
    background: pink !important;
}
.swiper-pagination-bullet{
	width: 20px !important;
	height: 20px !important;
	display: block !important;
	border-radius: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 10px 0 !important;
}