body{
	background: #fff;
}
/**Estilos globales***/
.title{
	position: relative;
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
	 h4{
	 	position: absolute;
	 	top: -50%;
	 	padding: 5px 10px;
	 	max-width: 480px;
	 	min-width: 320px;
		background-color: #272727;
	 	text-align: center;
	 	text-transform: uppercase;
	 	span{
	 		padding: 5px;
	 		color: #fff;
	 		
	 	}
	 }
}
#redesTop{
	// height: 30px;
	&:after,
	&:before{
		content: '';
		display: block;
		clear: both;
	}
	article{
		ul{
			list-style: none;
			margin-left: 0px;
			margin-bottom: 0px;
			li{
				list-style: none;
				display: inline-block;
				background-color: #272727;
				padding: 10px;
				a{
					color:#fff;
				}
			}
		}
	}
}
header#header{
	&:after,
	&:before{
		content: '';
		display: block;
		clear: both;
	}
	.thumbPage{
		width: 100%;
		height: 150px;
		display: flex;
		align-items:center;
		justify-content:center;
		border-top: 1px solid #272727;
		border-bottom: 1px solid #272727;
		img{
			max-width: 100px;
			width: auto;
		}
	}
}
#slideClocks{
	padding-top: 50px;
	padding-bottom: 70px;
	.swiper-container{
		height: 350px;
	}
}
#novedades{
	border-top: 3px solid #272727;
	&:before,
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	.novedadesCont1{
		position: relative;
		height: 500px;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		&:after,
		&:before{
			content: '';
			display: block;
			clear: both;
		}
		.cardNew{
			.cardHeader{
				.cardThumb{
					img{
						width: 100%;
					}
				}
			}
			.cardBody{
				position: absolute;
				bottom: 0;
				background-color: #333;
				padding-left: .9375rem;
				padding-right: .9375rem;
				&:after,
				&:before{
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}
}